# Server Port
PORT=5000

# Your MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster_uri/dbname?retryWrites=true&w=majority

# Your secret for signing JWTs
JWT_SECRET=YOUR_VERY_SECURE_RANDOM_STRING

# Google App Password for Nodemailer
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your_google_app_password

# Frontend URL (for email links)
BASE_URL=http://localhost:5173

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret